<!--<div class="main_sign_up" style="height:200vh" >-->
<!--  <div class="text-center text-lg-start mt-4 pt-2">-->
<!--    <br>-->
<!--    <br>-->
<!--    <h1 style="font-family: Lucida Handwriting; text-align: center">My account</h1>-->
<!--    <div class="container" style="max-width: 400px;margin: 0 auto;">-->
<!--      <div class="user-info-container">-->
<!--        <div class="user-info-box">-->
<!--          <p><strong>Name:</strong> <%#= @user.name %></p>-->
<!--          <p><strong>Phone:</strong> <%#= @user.phone %></p>-->
<!--          <p><strong>Email:</strong> <%#= @user.email %></p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <%# @credit_cards.each do |card| %>
<!--      <p>Credit Card Number: <%#= card.number %></p>-->
<!--      <p>Expiry Date: <%#= card.expiry_date %></p>-->
<!--      <br>-->
      <%#= render partial: "credit_cards/show", collection: @credit_cards %>
    <%# end %>

    <%#= link_to 'Add New Card', new_credit_card_path, class: "btn btn-primary" %>
    <%#= link_to 'View My Cards', user_credit_cards_path(current_user), class: "btn btn-primary" %>
<!--    <br><br>-->
<!--    <div>-->
      <%#= link_to 'Edit Account', edit_user_registration_path, class: "btn btn-primary" %>
<!--    </div>-->
<!--    <br>-->
    <%#= link_to 'Add New Address', new_address_path, class: "btn btn-primary" %>
    <%#= link_to 'View My Addresses', user_addresses_path(current_user), class: "btn btn-primary" %>

<!--    <div class="col-lg-8">-->
      <%#= render 'address', address_type: @address.address_type, address: @address, edit_link: edit_address_path(@address) %>
      <%#= render 'address', address_type: @address.address_type, address: @address, edit_link: edit_address_path(@address) %>
<!--    </div>-->
    <%# @addresses.each do |address| %>
      <%#= render 'address', address_type: address.address_type, address: address, edit_link: edit_address_path(address) %>
    <%# end %>

<!--  </div>-->
<!--</div>-->
<!--<br>-->

<div class="main_sign_up" style="height:140vh;">
  <br>
<div style="margin-left: 350px">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center" style="background-color: #e6f2ff">
            <h4 class="my-3"><strong>Personal Information</strong></h4>
            <h5 class="my-3"><%= @user.name %></h5>
            <p class="text-muted mb-1"><%= @user.email %></p>
            <p class="text-muted mb-4"><%= @user.phone %></p>
            <div class="d-flex justify-content-center mb-2">
                <%= button_to 'Edit', edit_user_registration_path(@user), method: :get, class: "btn btn-primary" %></td>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-md-0">
          <div class="card-body" style="background-color: #e6f2ff">
            <% @credit_cards.each_with_index do |card, index| %>
            <h5 class="mb-3"><strong>Credit Card <%= index + 1 %></strong></h5>
              <div class="row" style="height:10px">
                <div class="col-sm-5">
                  <p class="mb-0">Name</p>
                </div>
                <div class="col-sm-16">
                  <p class="text-muted mb-0"> <%= card.name %></p>
                </div>
              </div>
              <hr style="border-color: #D6EAF8">
            <div class="row" style="height:10px">
              <div class="col-sm-5">
                <p class="mb-0">Number</p>
              </div>
              <div class="col-sm-18">
                <p class="text-muted mb-0"> <%= '**** **** **** ' + card.number[-4..-1] %></p>
              </div>
            </div>
              <hr style="border-color: #D6EAF8">
            <div class="row" style="height:10px">
              <div class="col-sm-5">
                <p class="mb-0">Expiry Date</p>
              </div>
              <div class="col-sm-16">
                <p class="text-muted mb-0"><%= card.expiry_date %></p>
              </div>
            </div>
              <hr style="border-color: #D6EAF8">
              <div class="row" >
                <div class="col-sm-5">
                  <p class="mb-0">CVV</p>
                </div>
                <div class="col-sm-16">
                  <p class="text-muted mb-0"><%= card.cvv %></p>
                </div>

              </div>

              <%= link_to 'Edit', edit_credit_card_path(card), class: "btn btn-primary" %>

              <hr style="border-color: #D6EAF8">
              <% end %>

            <div>
              <%= link_to 'Add New Card', new_credit_card_path, class: "btn btn-primary" %>
              <%= link_to 'View My Cards', user_credit_cards_path(current_user), class: "btn btn-primary" %>
            </div>
            <br>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <%# @addresses.each do |address| %>
          <%# if address.address_type == 'both' %>
            <%#= render 'address', address_type: "Shipping", address: address, edit_link: edit_address_path(address) %>
            <%#= render 'address', address_type: "Billing", address: address, edit_link: edit_address_path(address) %>
          <%# end %>
          <%# if address.address_type == 'shipping' %>
            <%#= render 'address', address_type: "Shipping", address: address, edit_link: edit_address_path(address) %>
          <%# end %>
          <%# if address.address_type == 'billing' %>
            <%#= render 'address', address_type: "Billing", address: address, edit_link: edit_address_path(address) %>
          <%# end %>
        <%# end %>
        <% @addresses.where(address_type: [:shipping, :both]).each do |address| %>
          <% if address.address_type == 'shipping' || address.address_type == 'both' %>
            <%= render 'address', address_type: "Shipping", address: address, edit_link: edit_address_path(address) %>
            <%#= link_to 'Edit', edit_address_path(address), class: "btn btn-primary" %>
          <% end %>
        <% end %>

        <% @addresses.where(address_type: [:billing, :both]).each do |address| %>
          <% if address.address_type == 'billing' || address.address_type == 'both' %>
            <%= render 'address', address_type: "Billing", address: address, edit_link: edit_address_path(address) %>
          <% end %>
        <% end %>
        <%= link_to 'Add New Address', new_address_path, class: "btn btn-primary" %>
        <%= link_to 'View My Addresses', user_addresses_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <br>
</div>
</div>
<br>