<div class="container mt-5" style="font-family: Verdana">
  <div class="image-container">
    <h1 class="image-text" style="font-family: Lucida Handwriting">All Products</h1>
  </div>

<br>

<% product_count = @products.count %>
<p style="font-family: Verdana; "> <%= product_count %> Products</p>
  <%= form_tag(all_products_path, method: 'get', id: "sort-form", class: "form-inline") do %>
    <div class="form-group mr-2">
      <label for="sort_order" class="mr-2">Sort: </label>
      <%= select_tag(:sort_order, options_for_select([['Price Low To High', 'asc'], ['Price High To Low', 'desc']], params[:sort_order]),
                     class: "form-control", style: "width: 180px", id: "sort-select") %>
    </div>

  <% end %>
  <div class="ml-auto", style="text-align: right">
    <%= link_to "Size Guide", "#bottom-section", class: "text-right scroll-link" %>
  </div>
  <br>

  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @products.each do |product| %>
        <div id="products" class="card" style="width: 20rem; align-items: center; margin: 0 auto; background-color: #e6f2ff">
          <%#= image_tag product.product_image + ".jpg", style:"width: 20rem" %>
          <div style="position: relative;">
            <%= image_tag product.product_image + ".jpg", style: "width: 20rem" %>
            <a href="<%= product_path(product) %>" class="btn btn-primary image-btn" style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">View Details</a>
          </div>
          <div class="card-body" style="text-align: center; align-items: center">
            <h5 class="card-title" style="font-size: large"><%= product.name %></h5>
<!--            <p class="card-text"><%#= product.description %></p>-->
            <p class="card-text">Metal: <%= product.metal %> </p>
            <p class="card-text"> Size: <%= product.size %> </p>
            <p class="card-text">Price: <%= product.price %>$</p>
            <div class="mt-auto">
              <%#= link_to 'Add To Cart', product, class: "btn btn-primary" %>
              <%= link_to 'Add To Cart', all_products_path, class: "btn btn-primary" %>
            </div>
          </div>
          <br>
        </div>

      <% end %>

  </div>

</div>
  <div id="bottom-section" style="display: flex; justify-content: center; align-items: center;">
    <%= image_tag "rings_size_guide1.png", style: "width: 35rem" %>
    <%= image_tag "rings_size_guide2.png", style: "width: 35rem" %>
    <%#= image_tag "bracelet_size_guide.png", style: "width: 35rem" %>
  </div>
</div>

<br>

<%= javascript_tag do %>
  $(document).on('turbolinks:load', function() {
  $('a.scroll-link').click(function(event) {
  event.preventDefault();

  var target = $(this).attr('href');
  var offset = $(target).offset().top;

  $('html, body').animate({ scrollTop: offset }, 800);
  });
  });
<% end %>


<script>
    // Obținem referința către selectul de sortare și adăugăm un eveniment pentru schimbarea valorii
    const sortSelect = document.getElementById('sort-select');
    sortSelect.addEventListener('change', () => {
        const selectedValue = sortSelect.value;
        const currentUrl = new URL(window.location.href);
        currentUrl.searchParams.set('sort_order', selectedValue);
        window.location.href = currentUrl.href;
    });
</script>




