
<div class="container mt-5" style="font-family: Verdana">
  <div class="image-container">
    <h1 class="image-text" style="font-family: Lucida Handwriting">All Products</h1>
  </div>

  <br>
  <br>

<br>

  <div class="ml-auto", style="text-align: left">
    <%= link_to "Size Guide", "#bottom-section", class: "text-right scroll-link" %>
  </div>

  <%= render "filter_menu" %>
  <%#== pagy_info(@pagy) %>

  <%#== pagy_nav(@pagy) if @pagy.pages > 1 %>

  <br>
  <div class="pagy-container">
    <div class="pagy-info">
      <%== pagy_info(@pagy) %>
    </div>

    <div class="pagy-nav">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>



  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @products.each do |product| %>
        <div id="products" class="card" style="width: 20rem; align-items: center; margin: 0 auto; background-color: #e6f2ff">
          <div style="position: relative; background-color: #888888">
            <% if product.stock == 0 %>
              <%= image_tag product.image.present? ? product.image : "gift.png", style: "width: 20rem; opacity: 0.6;" %>


          <% else %>
              <%= image_tag product.image.present? ? product.image : "gift.png", style: "width: 20rem" %>
            <% end %>

            <a href="<%= product_path(product) %>" class="btn btn-primary image-btn" style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">View Details</a>
          </div>
          <div class="card-body" style="text-align: center; align-items: center">
            <h5 class="card-title" style="font-size: large"><%= product.name %></h5>
            <p class="card-text">Metal: <%= product.metal %> </p>
            <p class="card-text"> Size: <%= product.size %> </p>
            <p class="card-text">Price: <%= product.price %>$</p>
            <div class="mt-auto">
              <%# if current_user.present? && current_user.wish_list_items.include?(product.id)%>
<!--                <p class="text-muted mb-0" style="color:#82adff"> This item is already in wish list!</p>-->
              <%# end %>
              <% if current_user.present? && @wish_list_items.any? { |wish_list_item| wish_list_item.product_id == product.id } %>
                <p class="text-muted mb-0" style="color:#82adff">This item is already in the wish list!</p>
                <%#= button_to 'Buy Now!', orders_path(order: { user_id: current_user.id, product_id: product.id }), data: {method: :post}, class: "btn btn-primary" %>
                <%= button_to 'Buy Now!', orders_path(order: { user_id: current_user.id, product_id: product.id }), data: { turbo: true, turbo_confirm: 'Are you sure?' }, method: :post, class: "btn btn-primary" %>

            <% elsif current_user.present? && product.stock > 0%>
                <%#= button_to 'Add to Wish List', wish_list_items_path(wish_list_item: { user_id: current_user.id, product_id: product.id }), data: {method: :post}, class: "btn btn-primary-2" %>
                <%= button_to wish_list_items_path(wish_list_item: { user_id: current_user.id, product_id: product.id }), method: :post, class: "btn btn-primary-2" do %>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                <% end %>
                <br>
                <%= button_to 'Buy Now!', orders_path(order: { user_id: current_user.id, product_id: product.id }), data: {method: :post}, class: "btn btn-primary" %>
              <% elsif product.stock == 0%>
                  <p class="text-muted mb-0" style="color:#ff66cc"> This item is out of stock!</p>
                <% else %>
                <p class="text-muted mb-0" style="color:#82adff"> You need to be logged in to order!</p>
              <% end %>
            </div>
          </div>
          <br>
        </div>

      <% end %>

  </div>

  <div class="pagy-container">
    <div class="pagy-info">
    </div>

    <div class="pagy-nav">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>

  <div id="bottom-section" style="display: flex; justify-content: center; align-items: center;">
    <%= image_tag "rings_size_guide1.png", style: "width: 35rem" %>
    <%= image_tag "rings_size_guide2.png", style: "width: 35rem" %>
  </div>
</div>


<br>

<%= javascript_tag do %>
  $(document).on('turbolinks:load', function() {
  $('a.scroll-link').click(function(event) {
  event.preventDefault();

  var target = $(this).attr('href');
  var offset = $(target).offset().top;

  $('html, body').animate({ scrollTop: offset }, 800);
  });
  });
<% end %>


<!--<script>-->
<!--    const sortSelect = document.getElementById('sort-select');-->
<!--    sortSelect.addEventListener('change', () => {-->
<!--        const selectedValue = sortSelect.value;-->
<!--        const currentUrl = new URL(window.location.href);-->
<!--        currentUrl.searchParams.set('sort_order', selectedValue);-->
<!--        window.location.href = currentUrl.href;-->
<!--    });-->
<!--</script>-->




