<div class="container mt-5" style="font-family: Verdana">
<h1>Products</h1>
<br>
<% product_count = @products.count %>
<p style="font-family: Verdana; "> <%= product_count %> Products</p>
  <%= form_tag(all_products_path, method: 'get') do %>
    <label for="sort_order">Sort: </label>
    <%= select_tag(:sort_order, options_for_select([['Price Low To High', 'asc'], ['Price High To Low', 'desc']], params[:sort_order]), include_blank: true) %>
    <%#= submit_tag('Sort') %>
    <%= submit_tag('Sort', class: "btn btn-primary") %>
<% end %>

  <br>


  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @products.each do |product| %>
        <div id="products" class="card" style="width: 20rem; align-items: center; margin: 0 auto; background-color: #e6f2ff">
          <%#= image_tag product.product_image + ".jpg", style:"width: 20rem" %>
          <div style="position: relative;">
            <%= image_tag product.product_image + ".jpg", style: "width: 20rem" %>
            <a href="<%= product_path(product) %>" class="btn btn-primary image-btn" style="position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);">View Details</a>
          </div>
          <div class="card-body" style="text-align: center; align-items: center">
            <h5 class="card-title" style="font-size: large"><%= product.name %></h5>
<!--            <p class="card-text"><%#= product.description %></p>-->
            <p class="card-text">Metal: <%= product.metal %> </p>
            <p class="card-text"> Size: <%= product.size %> </p>
            <p class="card-text">Price: <%= product.price %>$</p>
<!--            <div class="mt-auto">-->
              <%#= link_to 'View Details', product, class: "btn btn-primary" %>
<!--            </div>-->
<!--            <div class="mt-auto">-->
              <%#= link_to 'Add To Cart', product, class: "btn btn-primary" %>
<!--            </div>-->
          </div>
          <br>
        </div>

      <% end %>

  </div>

</div>
</div>