
<div class="container mt-5" style="font-family: Verdana">
  <h2 style="font-family: Lucida Handwriting; text-align: center">Orders</h2>
  <br><br>
  <% if current_user.admin? %>
   <%= link_to 'Export CSV', generate_csv_path, class: 'btn btn-primary' %>
  <% end %>

  <%= render 'filter_menu' %>

  <div class="pagy-container">
    <div class="pagy-info">
      <%== pagy_info(@pagy) %>
    </div>

    <div class="pagy-nav">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
  <table class="table table-info table-striped table-hover table-sm">
    <thead>
    <tr style="background-color: #e6f2ff">
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Status</th>
      <th scope="col">Tracking Number</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.email %></td>
        <td><%= order.product.name %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td><%= order.tracking_number %></td>
<!--        <td><%#= link_to 'Show', order %> | <%#= link_to 'Edit', edit_order_path(order) %> | <%#= link_to 'Destroy', order, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>-->
        <td> <%= link_to 'Show', order %>
          <% if @user.role == 'admin' %>
            <% if order.status == "not shipped" %>
            | <%= link_to 'Ship Now', edit_order_path(order) %>

          <%= button_to 'Destroy', order, method: :delete, form:
            { data: { turbo: true, turbo_confirm: 'Are you sure?' } }, class: "btn-delete-index" %></td>
            <% end %>
          <% end %>
      </tr>
    <% end %>

    </tbody>
  </table>
  <div class="pagy-container">
    <div class="pagy-info">
    </div>

    <div class="pagy-nav">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>

</div>
