<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @order %>

<!--<div>-->
<!--  <%#= link_to "Edit this order", edit_order_path(@order) %> |-->
  <%#= link_to "Back to orders", orders_path %>

  <%#= button_to "Destroy this order", @order, method: :delete %>
<!--</div>-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 mx-auto" style="margin-left: 300px">
<div class="row mb-4">
  <div class="card mb-4 mb-md-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-11">
          <h5><strong>Order #<%= @order.id %></strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">User Name</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.user.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Product</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.product.name %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Quantity</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.quantity %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Tracking Number</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.tracking_number %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-4">
          <p class="mb-0">Status</p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted mb-0"><%= @order.status %></p>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<div style="text-align: center;">
  <% if @user.role == 'client' %>
    <%= link_to "Back to products", all_products_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Back to orders", orders_path, class: "btn btn-primary" %>
  <% end %>
</div>
<br>
