<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto" style="margin-left: 200px">
        <% if @address.address_type == 'both' %>
          <%= render 'address', address_type: "Shipping", address: @address, edit_link: edit_address_path(@address) %>
          <%= render 'address', address_type: "Billing", address: @address, edit_link: edit_address_path(@address) %>
        <% end %>
        <% if @address.address_type == 'shipping' %>
          <%= render 'address', address_type: "Shipping", address: @address, edit_link: edit_address_path(@address) %>
        <% end %>
        <% if @address.address_type == 'billing' %>
          <%= render 'address', address_type: "Billing", address: @address, edit_link: edit_address_path(@address) %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <%= link_to "Back to addresses", addresses_path, class: "btn btn-primary" %>
  </div>
</section>
<br>
