

<div class="container mt-5" style="font-family: Verdana">
  <h2 style="font-family: Lucida Handwriting; text-align: center">Categories</h2>
  <%= link_to 'New category', new_category_path, style:"font-size: large"%>
  <br><br>
  <table class="table table-info table-striped table-hover">
    <thead>
    <tr  style="background-color: #e6f2ff">
      <th scope="col">No</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%# @categories.each do |category| %>
    <% @categories.each.with_index(1) do |category, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        <td><%= link_to 'Show', category %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></td>
<!--        <td><%#= link_to 'Show', category %> | <%#= link_to 'Edit', edit_category_path(category) %> | <%#= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>




<!--<div class="container mt-5">-->
<!--  <h2>Users</h2>-->
<!--  <table class="table table-info table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="col">ID</th>-->
<!--      <th scope="col">Name</th>-->
<!--      <th scope="col">Description</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @categories.each do |category| %>
<!--      <tr>-->
<!--        <td><%#= category.id %></td>-->
<!--        <td><%#= category.name %></td>-->
<!--        <td><%#= category.description %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->

<!--<h1>Categories</h1>-->

<!--<div id="categories">-->
  <%# @categories.each do |category| %>
    <%#= render category %>
<!--    <p>-->
      <%#= link_to "Show this category", category %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New category", new_category_path %>
