<!--<div class="card" style="width: 18rem;">-->
  <%#= image_tag "ring_1.jpg", class: "d-block w-100" %>
<!--  <div class="card-body">-->
<!--    <h5 class="card-title"><%#= @category.name %></h5>-->
<!--    <p class="card-text"><%#= @category.description %></p>-->
    <%#= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" %>
    <%#= link_to 'Back', categories_path, class: "btn btn-primary" %>
<!--  </div>-->
<!--</div>-->

<div class="card" style="width: 20rem; align-items: center; margin: 0 auto;">
  <%# if (@category.name <=> "Rings") == 0 %>
    <%#= image_tag "ring.jpg", class: "d-block w-100" %>
  <%# else %>
    <%# if (@category.name <=> "Earrings") == 0 %>
      <%#= image_tag "earrings.jpg", class: "d-block w-100" %>
    <%# end %>
  <% case @category.name
     when "Rings" %>
    <%= image_tag "ring.jpg", style:"width: 20rem" %>
  <% when "Earrings" %>
    <%= image_tag "earrings.jpg", style:"width: 20rem" %>
  <% when "Bracelets" %>
    <%= image_tag "bracelet.jpg", style:"width: 20rem" %>
  <% when "Necklaces" %>
    <%= image_tag "necklace.jpg", style:"width: 20rem" %>
  <% when "Pendant" %>
    <%= image_tag "pendant.jpg", style:"width: 20rem" %>
  <% end %>
  <div class="card-body" style="text-align: center; align-items: center">
    <h5 class="card-title"><%= @category.name %></h5>
    <p class="card-text"><%= @category.description %></p>
    <%= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary" %>
    <%= link_to 'Back', categories_path, class: "btn btn-primary" %>
  </div>
</div>
<br>

<!--<p style="color: green"><%#= notice %></p>-->

<%#= render @category %>

<!--<div>-->
<!--  <%#= link_to "Edit this category", edit_category_path(@category) %> |-->
  <%#= link_to "Back to categories", categories_path %>

  <%#= button_to "Destroy this category", @category, method: :delete %>
<!--</div>-->
