
<div class="container">

  <%# @categories.each do |category| %>
  <h2 style="font-family: Lucida Handwriting; text-align: center"><%= @category.name %></h2>
  <% category_product_count = @products.count { |product| product.category_id == @category.id } %>
  <p style="font-family: Verdana; text-align: right;"> <%= category_product_count %> Results</p>
  <div class="card-deck" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <% @products.each do |product| %>
      <% if (@category.id == product.category_id) %>
        <div class="card" style="width: 20rem; align-items: center; margin: 0 auto; background-color: #e6f2ff">
          <%= image_tag product.product_image + ".jpg", style:"width: 20rem" %>
          <div class="card-body" style="text-align: center; align-items: center">
            <h5 class="card-title" style="font-size: large"><%= product.name %></h5>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text">Metal: <%= product.metal %> </p>
            <p class="card-text"> Size: <%= product.size %> </p>
            <p class="card-text">Price: <%= product.price %>$ | Stock: <%= product.stock %></p>
            <div class="mt-auto">
              <%= link_to 'Show', product, class: "btn btn-primary" %>
              <%#= link_to 'Edit', edit_category_path(@category), class: "btn btn-primary", style:"align: bottom" %>
              <%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
              <%#= link_to 'Back', categories_path, class: "btn btn-primary" %>
            </div>
          </div>
          <br>
        </div>

      <% end %>
    <% end %>
  <%# end %>

  </div>
  <br>
  <div class="text-right">
    <%= link_to 'Back', categories_path, class: "btn btn-primary" %>
  </div>
</div>

<br>
