<%= form_for(@product) do |f| %>
  <div class="text-center text-lg-start mt-4 pt-2" style="font-family: Verdana">
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_field :name, autofocus: true, required: true, class: "form-control", placeholder: "Name"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_area :description, required: true, class: "form-control", placeholder: "Description", style:"height: 150px"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_area :product_image, required: true, class: "form-control", placeholder: "Image Name"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_field :sku, required: true, class: "form-control", placeholder: "SKU"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.number_field :stock, min: 0, required: true, class: "form-control", placeholder: "Stock"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_field :metal, required: true, class: "form-control", placeholder: "Metal"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.text_field :size, required: true, class: "form-control", placeholder: "Size"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.number_field :price, min: 0, step: 0.01, required: true, class: "form-control", placeholder: "Price"%>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.collection_select(:category_id, Category.all, :id, :name, {:include_blank => "Select..."} , {:required => true, :class => "form-control"}) %>
    </div>
    <br>
    <div class="field", style="width: 350px; margin: 0 auto;">
      <%= f.file_field :image, required: true, class: "form-control", placeholder: "Image"%>
    </div>

    <div class="actions">
      <%= link_to 'Back', products_path, class: "btn btn-primary btn-lg" %>
      <%= f.submit button_text, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
<% end %>