<div class="container mt-5" style="font-family: Verdana">
  <h2 style="font-family: Lucida Handwriting">Products</h2>
  <%= link_to 'New product', new_product_path, style:"font-size: large" %>
  <br><br>
  <% product_count = @products.count %>
  <p style="font-family: Verdana; "> <%= product_count %> Products</p>

  <table class="table table-info table-striped table-hover table-sm">
    <thead>
    <tr style="background-color: #e6f2ff">
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">SKU</th>
      <th scope="col">Stock</th>
      <th scope="col">Metal</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    <%# @products.each do |product| %>
    <% @products.each.with_index(1) do |product, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.sku %></td>
        <td><%= product.stock %></td>
        <td><%= product.metal %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
        <td><%= product.category_id %></td>
        <td><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>






<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Products</h1>-->

<!--<div id="products">-->
  <%# @products.each do |product| %>
    <%#= render product %>
<!--    <p>-->
      <%#= link_to "Show this product", product %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New product", new_product_path %>
