<!DOCTYPE html>
<html>
  <head>
    <title>Gemstone Paradise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="/images/diamond-icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <%#= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>


  </head>

  <body>
    <%= render "devise/shared/navbar" %>

    <%= stylesheet_link_tag "navbars" %>

    <%= yield %>



    <%= render "devise/shared/footer" %>

  </body>
</html>
